.project-panel {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 700px;
    padding: 8px;
    gap: 8px;
}


.project-card-additional {
    position: absolute;
    z-index: 20;
}
